%h1{:style => "text-align:center;"} About ProfMash

%div{:class => "jumbotron"}
  %h2 Developed for SELT by Jake Skinner, Duy Nguyen, Brian Chau, Ankit Trivedi, and Alex Nuccio
 
  %h2 Description:

  %h2 Questions? Contact profmash.wutang@gmail.com 
