%h1{:style => "text-align:center;"} About ProfMash

%div{:class => "jumbotron"}
  %h2{:style => "text-align: center"} Developers
  %label{:style => "text-align: center; font-size:18pt;"} Jake Skinner, Duy Nguyen, Brian Chau, Ankit Trivedi, and Alex Nuccio
  %h2{:style => "text-align: center"} Description
  %label{:style => "text-align: center; font-size:18pt;"} This is a test.
  %h2{:style => "text-align: center"} Questions? 
  %label{:style => "text-align: center; font-size:18pt;"} Contact us at profmash.wutang@gmail.com 
