%h1 Invite your friends!!

%h5 Separate by commas if sending more than one.
= form_tag ('/sendinvite') do

  = label :email, :email, 'Email'
  = text_field :email, 'email'

  = submit_tag 'Send Invite(s)'



