%link(rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css")
%h1{:style => "text-align:center;"} Question of the Day

%div{:class => "jumbotron"}
  %h3{:style => "text-align: center"} I like to eat boogers.
