 <style type="text/css">

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">



<div class="jumbotron">
   <h1>Teacher of The Month</h1>
	<p class="lead">Teacher pic and info go here</p>
        <a class="btn btn-large btn-success" href="#">View Teacher's Bio</a>
      </div>

<hr>
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Question of The Day</h2>
          <p>How many letters are there in the alphabet? </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Favorite Teachers</h2>
          <p>Here is the list of the top 5 rated teachers </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Favorite Courses</h2>
          <p>Here is the list of the top 5 rated courses</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
