-#  This file is app/views/movies/index.html.haml
%h1 Professor Biographies

%table#professors.some{ :style => "margin-left:0; float:left; border: 1px solid black" }
  %thead
    %tr
      %th first name
      %th last name
      %th email
  %tbody
    - @professors.each do |professor|
      %tr
        %td= professor.first_name
        %td= professor.last_name
        %td= professor.email

