-#  This file is app/views/movies/index.html.haml
%h1{ :style =>"text-align: center"} Professor Biographies


%table#table{ :class => "table" }
  %tbody
    - @professors.each do |professor|
      %tr
        %td= link_to "#{professor.first_name} #{professor.last_name}", professor_path(professor)
