-#  This file is app/views/movies/index.html.haml
%table#table{ :class => "table",:style => "width:15%;float:left; " }
  %tbody
    - @professors.each do |professor|
      %tr
        %td= link_to "#{professor.first_name} #{professor.last_name}", professor_path(professor)

%h3{:class => "span2", :style => "width:70%;float:left;margin-left:5%;text-align:center"} Professor Biographies

